/* 
/* 
	Section Background (bg.css)
	
	Table of Content
	- general settings for section & subheader
	- background settings for section
	- media query
/*


/* background settings for section */
#section-hero {
  background: url(../images/background/6a.jpg) fixed;
}
#section-hero-2 {
  background: url(../images/background/5.jpg) fixed;
}
#section-hero-3 {
  background: url(../images/background/6.jpg) fixed;
}
#section-hero-4 {
  background: url(../images/background/6a.jpg) fixed;
}
#section-hero-5 {
  background: url(../images/background/8.jpg) fixed;
}
#section-hero-6 {
  background: url(../images/background/10.jpg) fixed;
}
#section-hero-7 {
  background: url(../images/background/12.jpg) fixed;
}
#section-services {
  background: url(../images/background/5a.jpg) fixed;
}
#section-experiences {
  background: url(../images/background/2.jpg) fixed;
}
#section-contact {
  background: url(../images/background/4.jpg) fixed;
}
#section-portfolio.index-5 {
  background: url(../images/background/2.jpg) fixed;
}
#section-experiences.index-5 {
  background: url(../images/background/2.jpg) fixed;
}

#section-about.side-bg .background-image {
  background: url(../images/background/218.jpg);
}
body.custom-bg-1 {
  background: url(../images/background/none.jpg);
}

/* media query */
@media only screen and (min-device-width: 768) and (max-device-width: 1024) and (orientation: portrait) {
  section {
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    background-attachment: scroll;
  }
}
@media only screen and (max-width: 992px) {
  #subheader {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
  }
}
@media only screen and (max-width: 992px) {
  section {
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    background-attachment: scroll;
  }
}
